<div id="main-container" class="container-fluid">
  <header id="blog-header">
      <div id="blog-header-text">
          <p class="text-center">
              Don't create limitations<br>@AttriClasses
          </p>
      </div>
  </header>
  <div id="blogs-container">
      <div class="container">
          <div class="row justify-content-center">
              <span class="category-button">Inoranic</span>
              <span class="category-button">Organic</span>
              <span class="category-button">Physical</span>
              <span class="category-button">Cricket</span>
              <span class="category-button">Sport</span>
              <span class="category-button">Lie</span>
          </div>
      </div>
  </div>
  <div class="row">
      <article role="main" class="col-lg-8 col-12" id="posts">
          <router-outlet></router-outlet>
      </article>
      <div class="col-lg-4 col-12" id="rated-posts">
          <h5 class="text-muted text-center">Top Rated</h5>
          <hr>
          <br>
          <div *ngIf="ratedPosts">
              <div class="row justify-content-center">
                  <div class="col-lg-11 col-md-5 col-xs-6 col-11" *ngFor="let ratedPost of ratedPosts" id="rated-post-container">
                      <div class="row">
                          <div class="col-6" id="rated-post-image">
                              <img src="{{ratedPost.post_imgurl}}" class="img-fluid">
                          </div>
                          <div class="col-6" id="rated-post-text">
                              <p>{{ratedPost.post_title}}</p>
                              <p class="text-muted">{{ratedPost.post_type}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <br><br>
</div>