<div id="posts">
    <div *ngIf="posts">
      <div>
        <section class="row clearfix" id="post-container" *ngFor="let post of posts" (click)="openDetail(post.$key)">
          <div class="col-md-6 col-12" id="post-container-image">
            <div class="type">{{post.post_type}}</div>
            <img src="{{post.post_imgurl}}" class="post-image">
          </div>
          <div class="col-md-6 col-12" id="post-container-text">
            <div class="accessories clearfix" id="post-container-text-header">
              <div class="text-block with">With</div>
              <div class="text-block">{{post.post_author}}</div>
              <div class="catagory text-block">{{post.post_about}}</div>
              <div class="before catagory text-block">About</div>
              <div class="hr"></div>
            </div>
            <h1 class="heading">{{post.post_title}}</h1>
            <p class="paragraph-2">{{post.post_highlight}}</p>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="container" id="subscribe">
      <div class="row justify-content-center">
          <div class="col-lg-10 col-md-12 col-12" id="subscribe-container">
              <div id="subscribe-header">
                  <h3 class="col-lg-9 col-md-11 col-12">Subscribe</h3>
                  <p class="col-lg-8 col-md-10 col-12">Subscribe to our beautiful newsletter that is soaking with inovation stories, latest project tales and
                      more.</p>
              </div>
              <div id="subscribe-footer" class="text-center">
                  <input placeholder="Email..">
                  <button>Submit</button>
                  <br>
                  <br>
              </div>
          </div>
      </div>
  </div>