<!--Navbar-->
<mdb-navbar class="nav_bg grey darken-4 fixed-top" SideClass="navbar navbar-expand-lg  ">

  <!-- Navbar brand -->
  <mdb-navbar-brand>
    <a class="navbar-brand " href="#">
      <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" class="d-inline-block align-top" alt="">
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light wt" mdbWavesEffect routerLink="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light wt" mdbWavesEffect routerLink="/notes">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light wt" mdbWavesEffect routerLink="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light wt" mdbWavesEffect routerLink="/blog">Blog</a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link waves-effect waves-light wt" routerLink="/contact">
          <i class="fa fa-envelope"></i> Contact Us
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item wt">
        <a class="nav-link waves-effect waves-light">
          <i class="fa fa-book" aria-hidden="true"></i> Classroom </a>
      </li>
      <li class="nav-item dropdown wt" dropdown>
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light " mdbWavesEffect>
          <i class="fa fa-user"></i> Profile <span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
