.Landing_page
{
  padding-top: 150px;
  padding-bottom: 150px;
}
.Main_heading
{
  color: #424243;
}
.Content_column
{
  border: none;
  border-right-style: solid ;
  border-right-width: medium;
  border-right-color: rgba(142, 142, 142, .5);

}
.Enroll_btn
{
  background-color: #00aeef;
  margin-top: 100px;
  margin-bottom: 20px;
}
.Login_btn
{
  background-color: #65e796;
  margin-top: 20px;
  margin-bottom: 40px;
}
.Divider
{
  background-color: rgba(142, 142, 142, .5);
  width: 100%;
  height: 2px;
}
#hexagon {
	width: 3vw;
	height: 3vw;
  border-radius: 1.5vw;
	background: red;
	position: fixed;
  z-index: 1;
  margin-left: 95vw;
  margin-top: 65vh;
}

//media-query
@media (max-width:760px)
{
  .Landing_page
  {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .Content_column
  {
    border: none;
    border-bottom-style: solid ;
    border-bottom-width: medium;
    border-bottom-color: rgba(142, 142, 142, .5);
    padding: 40px;
  }
  .Design_column
  {

  }
  .Enroll_btn
  {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .Login_btn
  {
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .Divider
  {
    visibility: hidden;
  }
}
